:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

/*start navbar*/
.navbar {
  background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
  color: white;
}

.starued::after {
  content: "";
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
.navbar .navbar-nav .nav-link:hover {
  border-bottom: 2px solid;
}
.hero {
  color: white;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;

  border-radius: 0.3rem;
  transition: all 1s ease-in-out;
}
.hero:hover {
  border: 1px solid var(--green-color);
}
.navbar-toggler:focus {
  box-shadow: none;
}

.search {
  color: var(--green-color);
  border-left: 1px solid var(--green-color);
  cursor: pointer;
}
.collapse ul li a {
  transition: all ease 0.5s;
}

/*end navbar*/

/*start landing*/
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}

/*end landing*/

/*start features*/

.features .icon-holder {
  height: 200px;
}

.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}

.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
}

.features .feat h4 {
  color: var(--yellow-color);
}

/*end features*/

/*start our work*/

.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.our-work ul li:not(.active):hover {
  color: var(--red-color);
}

.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: rgb(51 209 204/76%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
}

.our-work .box.box:hover::before {
  transform: translateX(0);
}

.up {
  position: fixed;
  bottom: 10px;
  right: -30px;
  background-color: transparent;
  color: var(--red-color);
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
}
.up.show {
  right: 20px;
}
/*end our work*/

/*start stuff*/

.stuff .description {
  max-width: 400px;
}

/*end stuff*/

/*start team*/
.team {
  background-color: var(--section-color);
}
.team h2 {
  color: var(--yellow-color);
}

.team .box h4 {
  background-color: var(--green-color);
}
/*end team*/
/*start project*/
.project {
  background-color: var(--dark-color);
}
/*end project*/

.subscribe {
  background-color: var(--yellow-color);
}
.footer {
  background-color: var(--dark-color);
}
#preloader{
  background: #fcfdfc url(../imgs/moving-hands-loading-dknfn3tdw6bzwql7.gif) no-repeat center center  ;
  background-size: 40%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2000;
  
}